<div class="container">
  <div class="row">
    <div class="section">
      <h4><%= product.name %></h4>
      <%= image_tag product.image.url(:medium) %>
      <p>
        <b>Description</b>
      </p>
      <p><%= product.description %></p>
      <p><b>Cost:</b><%= number_to_currency product.price %></p>
    </div>
  </div>
</div>
