$('#product_<%= @product.id %>').hide();
$(".flash-mssg").html('<div class="row"><div class="col l12 m6"><div class="card-panel grey lighten-5"><h6 id="flash_success">Product deleted successfully!!</h6></div> </div> </div>');
$(".flash-mssg").show();
