<h3>Products</h3>
<div class="errors">

</div>

<div id="modal1" class="modal">
  <div class="modal-content">

  </div>
</div>

<%= render "product_list", :products => @products, :order_item => @order_item %>
